.header {width: 100%; height: 120px;
         background-color: rgb(255, 255, 255);
         position: fixed;
         top: 0;
         z-index: 9999;
         display: flex; justify-content: center;}
.logo {width: 200px; height: 80px;
       /* background-color: blue; */
       margin-right: 140px;
       margin-top: 20px;
       position: relative;
       display: inline-block;}
.logo img {position: absolute;
           left: 50%; top: 50%;
           transform: translate(-50%,-50%);}
.nav {width: 560px; height: 80px;
      /* background-color: lightcoral; */
      display: inline-block;
      margin-top: 20px;}
.nav ul {list-style: none; display: flex;
         justify-content: space-between;}
.nav ul li {float: left; font-size: 1.1rem;
            font-weight: 600; margin-left: -40px;
            margin-top: 10px;}
.user {width: 120px; height: 80px;
       /* background-color: bisque; */
       margin-left: 140px;
       margin-top: 20px;
       display: inline-block;}
.user div {width: 60px; height: 80px;
           display: inline-block;
           /* background-color: aquamarine; */ }
.my {position: relative;}
.my img {position: absolute;
         left: 50%; top: 50%;
         transform: translate(-50%,-50%);}
.cart {position: relative;}
.cart img {position: absolute;
           left: 50%; top: 50%;
           transform: translate(-50%,-50%);}